@font-face {
    font-family: Sansman;
    src: url(/Content/fonts/entsans.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(/Content/fonts/Roboto-Light.ttf);
}

body {
    font-family: Roboto;
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d6d6d6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Sansman;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#wcma-navbar.navbar {
    height: 175px;
    font-family: Sansman;
    font-size: 1.5em;
}

#wcma-navbar a:hover {
    color: #ffc300;
}

#wcma-navbar .main-nav {
    margin-top: 125px;
}

.panel {
    border-radius: 0px !important;
}

/* Bootstrap Overrides */

.panel {
    border-radius: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* End Bootstrap Overrides */